<footer class="text-center text-lg-start bg-danger text-light">
  <section class="d-flex justify-content-center justify-content-lg-between p-3 border-bottom">

    <div class="mt-2 me-5 d-none d-lg-block">
      <h5 class="fw-bold mb-4">Conecte-se conosco nas nossas Redes Sociais:</h5>
    </div>

    <div class="mt-2 d-flex flex-row">
      <a href="" class="me-5 fw-bold text-light h2">
        <h4><i class="fa-brands fa-facebook"></i> Facebook</h4>
      </a>
      <a href="" class="fw-bold text-light h2">
        <h4><i class="fa-brands fa-instagram"></i> Instagram</h4>
      </a>
    </div>
  </section>

  <section class="footer">

    <div class="text-center mt-5">
      <div class="col">
        <p class="fs-8 fw-bold mt-2">Acesse:<p>
        <a class="text-reset fw-bold" href="/privacidade"><h6 class="fs-4 fw-bold mb-4">Política de Privacidade</h6></a>
      </div>
    </div>

    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h5 class="text-center text-uppercase fw-bold mb-4">Cooperserra</h5>
          <p>
            "Do Pomar à Mesa". Nossa empresa tem sua sede principal na cidade mais fria do Brasil, São Joaquim.
            Localizada a 1360m a cima do nível do mar, é conhecida por ser a Capital Nacional da Maçã.
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h5 class="text-center text-uppercase fw-bold mb-4">Produtos</h5>
          <p><i class="fa-solid fa-apple-whole"></i> Variedades em Maçãs</p>
          <p><i class="fa-solid fa-apple-whole"></i> Sucos Naturais</p>
          <p><i class="fa-solid fa-apple-whole"></i> Chips Crocantes</p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h5 class="text-center text-uppercase fw-bold mb-4">Contatos</h5>
          <p><i class="fas fa-home me-3 text-light"></i>R. Urubici 972, São Joaquim - SC, Brasil</p>
          <p>
            <i class="fas fa-envelope me-3 text-light"></i>
            recepcao@cooperserra.com.br
          </p>
          <p>
            <i class="fas fa-envelope me-3 text-light"></i>
            vendas@cooperserra.com.br
          </p>
          <p><i class="fas fa-phone me-3 text-light"></i> +55 (49) 3233-6666</p>
        </div>
      </div>
    </div>
  </section>

  <div class="fs-5 text-center p-4" style="background-color: rgba(0, 0, 0, 0.065);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" routerLink="/home">Cooperserra.com.br</a>
  </div>
</footer>
