<section class="contato">
  <form action="https://formsubmit.co/recepcao@cooperserra.com.br" method="POST" class="form">

     <label class="titulo_input" for="name">Nome</label>
     <input type="text" class="form-select border-danger" name="Nome" id="name" placeholder="Digite seu nome...(opcional)"/>

     <label class="titulo_input" for="email">E-mail</label>
     <input type="email" class="form-select border-danger" name="Email" id="email" placeholder="Digite seu email..." required />

     <label class="titulo_input" for="email">Cidade</label>
     <input type="text" class="form-select border-danger" name="Cidade" id="cidade" placeholder="Digite o nome da sua cidade...(opcional)"/>

     <label class="titulo_input" for="estado">Estado</label>
      <select id="inputState" class="form-select border-danger border border-2 mb-3 p-3">
        <option selected>Informe seu estado...(opcional)</option>
        <option value="AC">Acre</option>
        <option value="AL">Alagoas</option>
        <option value="AP">Amapá</option>
        <option value="AM">Amazonas</option>
        <option value="BA">Bahia</option>
        <option value="CE">Ceará</option>
        <option value="DF">Distrito Federal</option>
        <option value="ES">Espírito Santo</option>
        <option value="GO">Goiás</option>
        <option value="MA">Maranhão</option>
        <option value="MT">Mato Grosso</option>
        <option value="MS">Mato Grosso do Sul</option>
        <option value="MG">Minas Gerais</option>
        <option value="PA">Pará</option>
        <option value="PB">Paraíba</option>
        <option value="PR">Paraná</option>
        <option value="PE">Pernambuco</option>
        <option value="PI">Piauí</option>
        <option value="RJ">Rio de Janeiro</option>
        <option value="RN">Rio Grande do Norte</option>
        <option value="RS">Rio Grande do Sul</option>
        <option value="RO">Rondônia</option>
        <option value="RR">Roraima</option>
        <option value="SC">Santa Catarina</option>
        <option value="SP">São Paulo</option>
        <option value="SE">Sergipe</option>
        <option value="TO">Tocantins</option>
      </select>

     <label class="titulo_input" for="message">Mensagem</label>
     <textarea class="border-danger" name="Mensagem" id="message" placeholder="Deixe sua mensagem..." required></textarea>

     <input type="hidden" name="_captcha" value="false" />

     <button type="submit" id="liveToastBtn">Enviar</button>
  </form>
</section>
