* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contato {
  background-image: url(../../assets/img/banners/background-geral.png);
  background-size:cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-right: 1rem;
  padding-left: 1rem;
}

.form{
  width: 100%;
  max-width: 498px;
  font-size: 18px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.form label{
  font-weight: bold;
  color: #ca0000;
}

.form textarea{
  border-radius: 5px;
}

.form input,
.form textarea,
.form option{
  display: block;
  width: 100%;
}

.titulo_input{
  color: #fff;
  line-height: 1;
}

.form input,
.form textarea,
.form option {
  font: inherit;
  padding: 0.8rem;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 2px solid transparent;
  transition: border-color 0.2s;
}

.form textarea {
  min-height: 13rem;
  resize: vertical;
}

.form input:hover,
.form input:focus,
.form select:hover,
.form select:focus,
.form textarea:hover,
.form textarea:focus {
  border-color: rgb(100, 0, 0);
}

.form button {
  display: block;
  margin: 0 auto;
  width: 50%;
  padding: 1rem;
  background: #ca0000;
  color: #fff;
  font: inherit;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.form button:hover,
.form button:focus {
  outline: none;
  background: #ca0000c9;
}
