@media (max-width:999px){
  .conteudo > p{
     margin-left: 20px;
     margin-right: 20px;
  }

  .timeline{
    width: 80%;
    margin: 0 auto;
  }
}

.banner_sobre{
  height: 90vh;
  background-image: url(../../assets/img/banners/banner-sobre.png);
  background-size: cover;
}

/* .banner_empresa{
  background-image: url(../../assets/img/background_white_empresa.jpg);
  background-size:100%;
} */

.empresa{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.empresa h1{
  margin-top:10vh;
  color: rgb(206, 0, 0);
  font-size:38px;
  text-align: center;
}

.conteudo{
  text-align: center;
  width: 800px;
  font-size: 22px;
  margin: 0 auto;
}

.conteudo > p{
  margin-bottom: 12px;
  font-family: tahoma;
}

.maca_fatiada{
  margin: 0 auto;
  height: 400px;
}

.timeline{
  display: flex;
  margin: 0 auto;
  width: 90%;
}

.timeline>img{
  min-width:220px;
  margin-left: 5px;
  margin-right: 5px;
}
