@media (max-width:999px){
  h1{
     padding: 0 25px;
  }

  .receitas{
     margin-top: -60px;
  }

  .receitas div{
     padding: 0 30px;
  }

  .new{
     width: 300px;
  }

}

.banner-produtos{
  height: 90vh;
  background-image: url(../../assets/img/banners/banner-produtos.png);
  background-size: cover;
}


.produtos{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.produto{
  width: 300px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(41, 41, 41, 0.404);
  margin: 40px;
  border-radius: 10px;
}

.novidades{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.new{
  max-width: 760px;
  border-radius: 10px;
}
