<section class="bg_produtos">
  <div class="banner-produtos"></div>
  <section class="galhos">
   <section class="novidades mt-5">
      <h1 class="text-danger">Novidades!</h1>
      <img class="new" src="../../assets/img/produtos/todas_novidades.png">
   </section>
   <section class="produtos">
    <div class="row d-flex justify-content-center m-5">
      <h1 class="text-danger text-canter">Maçãs em Caixa</h1>
      <div class="col-sm-4 mt-5">
        <div class="card">
          <div class="card-body text-center">
            <div class="card-header mb-3"><img src="../../assets/img/produtos/cat_vermelha.png" class="card-img-top w-20"></div>
            <h3 class="card-title text-danger">Caixa 18 Kg</h3>
            <p class="card-text">Categoria Extra</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mt-5">
        <div class="card">
          <div class="card-body text-center">
            <div class="card-header mb-3"><img src="../../assets/img/produtos/cat_amarela.png" class="card-img-top w-20"></div>
            <h3 class="card-title text-danger">Caixa 18 Kg</h3>
            <p class="card-text">Categoria I</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mt-5">
        <div class="card">
          <div class="card-body text-center">
            <div class="card-header mb-3"><img src="../../assets/img/produtos/cat_amarela_clara.png" class="card-img-top w-20"></div>
            <h3 class="card-title text-danger">Caixa 9 Kg</h3>
            <p class="card-text">Categoria I</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mt-5">
        <div class="card">
          <div class="card-body text-center">
            <div class="card-header mb-3"><img src="../../assets/img/produtos/branca_fechada.png" class="card-img-top w-20"></div>
            <h3 class="card-title text-danger">Caixa 18 Kg</h3>
            <p class="card-text">Exportação</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mt-5">
        <div class="card">
          <div class="card-body text-center">
            <div class="card-header mb-3"><img src="../../assets/img/produtos/cat_preta.png" class="card-img-top w-20"></div>
            <h3 class="card-title text-danger">Caixa 18 Kg</h3>
            <p class="card-text">Categoria II</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mt-5">
        <div class="card">
          <div class="card-body text-center">
            <div class="card-header mb-3"><img src="../../assets/img/produtos/parda_cat_3.png" class="card-img-top w-20"></div>
            <h3 class="card-title text-danger">Caixa 18 Kg</h3>
            <p class="card-text">Categoria III</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mt-5">
        <div class="card">
          <div class="card-body text-center">
            <div class="card-header mb-3"><img src="../../assets/img/produtos/parda_granel.png" class="card-img-top w-20"></div>
            <h3 class="card-title text-danger">Caixa 18 Kg</h3>
            <p class="card-text">Categoria III Granel</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mt-5">
        <div class="card">
          <div class="card-body text-center">
            <div class="card-header mb-3"><img src="../../assets/img/produtos/tipo_brinde.png" class="card-img-top w-20"></div>
            <h3 class="card-title text-danger">Caixa Tipo Brinde</h3>
            <p class="card-text">Categoria Extra</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center m-5">
      <h1 class="text-danger text-canter">Sucos e Chips de Maçã</h1>
      <div class="col-sm-4 mt-5">
        <div class="card">
          <div class="card-body text-center">
            <div class="card-header mb-3"><img src="../../assets/img/produtos/bag.png" class="card-img-top w-20"></div>
            <h3 class="card-title text-danger">Bag</h3>
            <p class="card-text">3L Suco Natural</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mt-5">
        <div class="card">
          <div class="card-body text-center">
            <div class="card-header mb-3"><img src="../../assets/img/produtos/garrafas.png" class="card-img-top w-20"></div>
            <h3 class="card-title text-danger">Garrafas</h3>
            <p class="card-text">1L e 300ml Suco Natural</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mt-5">
        <div class="card">
          <div class="card-body text-center">
            <div class="card-header mb-3"><img src="../../assets/img/produtos/chips.png" class="card-img-top w-20"></div>
            <h3 class="card-title text-danger">Chips Crocante</h3>
            <p class="card-text">Natural ou com Canela</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center m-5">
      <h1 class="text-danger text-canter">Maçãs em Embalagens Especiais</h1>
      <div class="col-sm-3 mt-5">
        <div class="card">
          <div class="card-body text-center">
            <div class="card-header mb-3"><img src="../../assets/img/produtos/cumbuca_700g.png" class="card-img-top w-20"></div>
            <h3 class="card-title text-danger">Cumbuca</h3>
            <p class="card-text">Categoria I, 700g</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mt-5">
        <div class="card">
          <div class="card-body text-center">
            <div class="card-header mb-3"><img src="../../assets/img/produtos/maletinha_4.png" class="card-img-top w-20"></div>
            <h3 class="card-title text-danger">Maletinha</h3>
            <p class="card-text">Categoria I, 1 Kg</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mt-5">
        <div class="card">
          <div class="card-body text-center">
            <div class="card-header mb-3"><img src="../../assets/img/produtos/maleta_1kg.png" class="card-img-top w-20"></div>
            <h3 class="card-title text-danger">Maleta</h3>
            <p class="card-text">Categoria I, 1 Kg</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mt-5">
        <div class="card">
          <div class="card-body text-center">
            <div class="card-header mb-3"><img src="../../assets/img/produtos/sacolinha_capu_1kg.png" class="card-img-top w-20"></div>
            <h3 class="card-title text-danger">Sacolinha</h3>
            <p class="card-text">Categoria I, 1 Kg</p>
          </div>
        </div>
      </div>
    </div>
    <section #receitas class="receitas mb-5 mt-5 text-center">
      <div>
        <h1 class="text-danger">Receitas com Maçã</h1>
        <p>Separamos as melhores receitas com maçã da <br> Serra Catarinense!</p>
      </div>

      <div class="row">
        <button
        (click)="abrirReceita(modalReceita1)"
        type="button"
        class="btn btn-danger">
        Bolo de Maçã
        </button>
      </div>

      <ng-template #modalReceita1 let-modal>
        <div class="modal-header">
          <h4 class="modal-title text-danger" id="modal-basic-title">Receita Bolo de Maçã</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Fechar')"></button>
        </div>
          <div class="modal-body">
            <img src="../../assets/img/receitas/bolo_de_maca.png" class="w-100">
          </div>
      </ng-template>

      <div class="row mt-3">
        <button
        (click)="abrirReceita(modalReceita2)"
        type="button"
        class="btn btn-danger">
        Geleia de Maçã
        </button>
      </div>

      <ng-template #modalReceita2 let-modal>
        <div class="modal-header">
          <h4 class="modal-title text-danger" id="modal-basic-title">Receita Geleia de Maçã</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Fechar')"></button>
        </div>
          <div class="modal-body">
            <img src="../../assets/img/receitas/geleia de maca.png" class="w-100">
          </div>
      </ng-template>

      <div class="row mt-3">
        <button
        (click)="abrirReceita(modalReceita3)"
        type="button"
        class="btn btn-danger">
        Maçã do Amor
        </button>
      </div>

      <ng-template #modalReceita3 let-modal>
        <div class="modal-header">
          <h4 class="modal-title text-danger" id="modal-basic-title">Receita Maçã do Amor</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Fechar')"></button>
        </div>
          <div class="modal-body">
            <img src="../../assets/img/receitas/maca_do_amor.png" class="w-100">
          </div>
      </ng-template>

      <div class="row mt-3">
        <button
        (click)="abrirReceita(modalReceita4)"
        type="button"
        class="btn btn-danger">
        Torta de Maçã
        </button>
      </div>

      <ng-template #modalReceita4 let-modal>
        <div class="modal-header">
          <h4 class="modal-title text-danger" id="modal-basic-title">Receita Torta de Maçã</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Fechar')"></button>
        </div>
          <div class="modal-body">
            <img src="../../assets/img/receitas/torta_de_maca.png" class="w-100">
          </div>
      </ng-template>

    </section>
  </section>
</section>
