<section class="bg_produtos">
  <img src="../../assets/img/produtos_img/banner_capuchinho.png" class="banner">

  <section class="galhos">

   <section class="novidades">
      <h1>Novidades!</h1>
       <img class="new" src="../../assets/img/produtos_img/todas_novidades.png">
   </section>

   <section class="produtos">
    <div class="row d-flex justify-content-center m-5">
      <h1>Maçãs em Caixa</h1>
      <div class="col-sm-4 mt-5">
        <div class="card">
          <div class="card-body text-center">
            <div class="card-header mb-3"><img src="../../assets/img/produtos_img/cat_vermelha.png" class="card-img-top w-20"></div>
            <h3 class="card-title text-danger">Caixa 18 Kg</h3>
            <p class="card-text">Categoria Extra</p>
            <a href="#" class="mt-2 btn btn-danger">Detalhes</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mt-5">
        <div class="card">
          <div class="card-body text-center">
            <div class="card-header mb-3"><img src="../../assets/img/produtos_img/cat_vermelha.png" class="card-img-top w-20"></div>
            <h3 class="card-title text-danger">Caixa 18 Kg</h3>
            <p class="card-text">Categoria Extra</p>
            <a href="#" class="mt-2 btn btn-danger">Detalhes</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mt-5">
        <div class="card">
          <div class="card-body text-center">
            <div class="card-header mb-3"><img src="../../assets/img/produtos_img/cat_vermelha.png" class="card-img-top w-20"></div>
            <h3 class="card-title text-danger">Caixa 18 Kg</h3>
            <p class="card-text">Categoria Extra</p>
            <a href="#" class="mt-2 btn btn-danger">Detalhes</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mt-5">
        <div class="card">
          <div class="card-body text-center">
            <div class="card-header mb-3"><img src="../../assets/img/produtos_img/cat_vermelha.png" class="card-img-top w-20"></div>
            <h3 class="card-title text-danger">Caixa 18 Kg</h3>
            <p class="card-text">Categoria Extra</p>
            <a href="#" class="mt-2 btn btn-danger">Detalhes</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mt-5">
        <div class="card">
          <div class="card-body text-center">
            <div class="card-header mb-3"><img src="../../assets/img/produtos_img/cat_vermelha.png" class="card-img-top w-20"></div>
            <h3 class="card-title text-danger">Caixa 18 Kg</h3>
            <p class="card-text">Categoria Extra</p>
            <a href="#" class="mt-2 btn btn-danger">Detalhes</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mt-5">
        <div class="card">
          <div class="card-body text-center">
            <div class="card-header mb-3"><img src="../../assets/img/produtos_img/cat_vermelha.png" class="card-img-top w-20"></div>
            <h3 class="card-title text-danger">Caixa 18 Kg</h3>
            <p class="card-text">Categoria Extra</p>
            <a href="#" class="mt-2 btn btn-danger">Detalhes</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mt-5">
        <div class="card">
          <div class="card-body text-center">
            <div class="card-header mb-3"><img src="../../assets/img/produtos_img/cat_vermelha.png" class="card-img-top w-20"></div>
            <h3 class="card-title text-danger">Caixa 18 Kg</h3>
            <p class="card-text">Categoria Extra</p>
            <a href="#" class="mt-2 btn btn-danger">Detalhes</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mt-5">
        <div class="card">
          <div class="card-body text-center">
            <div class="card-header mb-3"><img src="../../assets/img/produtos_img/cat_vermelha.png" class="card-img-top w-20"></div>
            <h3 class="card-title text-danger">Caixa 18 Kg</h3>
            <p class="card-text">Categoria Extra</p>
            <a href="#" class="mt-2 btn btn-danger">Detalhes</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center m-5">
      <h1>Sucos Naturais de Maçã</h1>
      <div class="col-sm-4 mt-5">
        <div class="card">
          <div class="card-body text-center">
            <div class="card-header mb-3"><img src="../../assets/img/produtos_img/cat_vermelha.png" class="card-img-top w-20"></div>
            <h3 class="card-title text-danger">Caixa 18 Kg</h3>
            <p class="card-text">Categoria Extra</p>
            <a href="#" class="mt-2 btn btn-danger">Detalhes</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mt-5">
        <div class="card">
          <div class="card-body text-center">
            <div class="card-header mb-3"><img src="../../assets/img/produtos_img/cat_vermelha.png" class="card-img-top w-20"></div>
            <h3 class="card-title text-danger">Caixa 18 Kg</h3>
            <p class="card-text">Categoria Extra</p>
            <a href="#" class="mt-2 btn btn-danger">Detalhes</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mt-5">
        <div class="card">
          <div class="card-body text-center">
            <div class="card-header mb-3"><img src="../../assets/img/produtos_img/cat_vermelha.png" class="card-img-top w-20"></div>
            <h3 class="card-title text-danger">Caixa 18 Kg</h3>
            <p class="card-text">Categoria Extra</p>
            <a href="#" class="mt-2 btn btn-danger">Detalhes</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center m-5">
      <h1>Maçãs em Embalagens Especiais</h1>
      <div class="col-sm-3 mt-5">
        <div class="card">
          <div class="card-body text-center">
            <div class="card-header mb-3"><img src="../../assets/img/produtos_img/cat_vermelha.png" class="card-img-top w-20"></div>
            <h3 class="card-title text-danger">Caixa 18 Kg</h3>
            <p class="card-text">Categoria Extra</p>
            <a href="#" class="mt-2 btn btn-danger">Detalhes</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mt-5">
        <div class="card">
          <div class="card-body text-center">
            <div class="card-header mb-3"><img src="../../assets/img/produtos_img/cat_vermelha.png" class="card-img-top w-20"></div>
            <h3 class="card-title text-danger">Caixa 18 Kg</h3>
            <p class="card-text">Categoria Extra</p>
            <a href="#" class="mt-2 btn btn-danger">Detalhes</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mt-5">
        <div class="card">
          <div class="card-body text-center">
            <div class="card-header mb-3"><img src="../../assets/img/produtos_img/cat_vermelha.png" class="card-img-top w-20"></div>
            <h3 class="card-title text-danger">Caixa 18 Kg</h3>
            <p class="card-text">Categoria Extra</p>
            <a href="#" class="mt-2 btn btn-danger">Detalhes</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mt-5">
        <div class="card">
          <div class="card-body text-center">
            <div class="card-header mb-3"><img src="../../assets/img/produtos_img/cat_vermelha.png" class="card-img-top w-20"></div>
            <h3 class="card-title text-danger">Caixa 18 Kg</h3>
            <p class="card-text">Categoria Extra</p>
            <a href="#" class="mt-2 btn btn-danger">Detalhes</a>
          </div>
        </div>
      </div>
    </div>

   <section class="receitas mb-5">
      <div>
         <h1>Receitas com Maçã</h1>
         <p>Separamos as melhores receitas com maçã da <br> Serra Catarinense!</p>
      </div>
      <div class="botao_receitas">
         <a href="#">Confira!</a>
      </div>
   </section>
  </section>

</section>
