<nav class="navbar navbar-expand-lg navbar-dark bg-danger fs-5">
  <div class="container">
    <a class="navbar-brand fw-semibold" routerLink="/home"><img src="../../assets/img/logo_3d.png" width="250px"></a>
    <button (click)="estaColapsada = !estaColapsada" class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngbCollapse]="!estaColapsada">
      <div class="links w-100 text-center">
        <ul class="navbar-nav justify-content-end mb-2 mb-lg-0">
          <li class="nav-item me-4">
            <a class="nav-link active" routerLink="/home">Home</a>
          </li>
          <li class="nav-item me-4">
            <a class="nav-link active" routerLink="/sobre">Sobre Nós</a>
          </li>
          <li class="nav-item me-4">
            <a class="nav-link active" routerLink="/estrutura">Estrutura</a>
          </li>
          <li class="nav-item me-4">
            <a class="nav-link active" routerLink="/produtos">Produtos</a>
          </li>
          <li class="nav-item me-4">
            <a class="nav-link active" routerLink="/localizacao">Localização</a>
          </li>
          <li class="nav-item me-4">
            <a class="nav-link active" routerLink="/contato">Contato</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
