body{
  background-image: url(../src/assets/img/banners/background-geral.png);
  background-size: 100%;
  background-repeat: repeat;
}


.text-danger{
  color: #ca000c !important;
}

p{
  font-size: 18px;
  font-family: tahoma;
}

.btn-danger{
  background-color: #ca000c !important;
}

.btn-outline-danger{
  font-size: 22px;
  border-color: #ca000c;
  color: #ca000c;
}

.btn-outline-danger:hover{
  background-color: #ffffff !important;
  border-color: #ab000b;
  color: #ab000b;
}

.bg-danger{
  background-color: #CA0000 !important;
}

a{
  text-decoration: none;
}

a:hover{
  color: rgba(255, 255, 255, 0.795)!important;
}

