<div class="body container mt-5">
  <div class="row">
  <div class="col-9 mt-3">
    <h1 class="text-danger">
      1. Compromisso da Cooperserra com seus Dados Pessoais
    </h1>
    <p>
      A Política de Privacidade da Cooperserra visa apresentar aos nossos
      Cooperados, clientes, fornecedores, colaboradores e demais interessados as
      condições de tratamento dos dados pessoais que coletamos. Aqui, garantimos
      não só a excelência na produção da melhor maçã, mas também protegemos e
      cuidamos da sua privacidade e dos seus dados pessoais, demonstrando o nosso
      compromisso e cuidado com a segurança e integridade em todas as nossas
      relações.
    </p>
    <p>
      Realizamos o tratamento de seus dados pessoais de forma segura e em
      conformidade com a legislação, e, por esta razão, descreveremos a seguir, de
      forma simplificada, o modo pelo qual tratamos os seus dados pessoais.
    </p>
  </div>

  <div class="col-9 mt-5">
    <h1 class="text-danger">
      2. Quem somos e como entrar em contato?
    </h1>
    <p>
      A Cooperserra é uma grande produtora de maçã com sede na Rua Urubici,
      972 - São Joaquim/SC, CEP: 88600-000 e outra filial em Urupema, ambas na
      Serra Catarinense.
    </p>
    <p>
      Em caso de quaisquer dúvidas, pedimos a gentileza de entrar em contato
      conosco, por meio do e-mail dpo@cooperserra.com.br
    </p>
  </div>

  <div class="col-9 mt-5">
    <h1 class="text-danger">
      3. O que são Dados Pessoais?
    </h1>
    <p>
      Dado pessoal é toda informação que está relacionada a você (pessoa
      física) individualmente e que permite identificá-lo de forma direta ou indireta,
      como por exemplo, nome, endereço, número de telefone, RG, CPF, e-mail,
      número de ID, dados de saúde ou qualquer outra informação que permita
      associá-la a sua pessoa.
    </p>
  </div>

  <div class="col-9 mt-5">
    <h1 class="text-danger">
      4. Quem são os Agentes de Tratamento?
    </h1>
    <p>
      Agentes de tratamento são Operadores e Controladores, ou seja: aqueles
      que realizam o tratamento de dados pessoais (que inclui desde a coleta,
      armazenamento, compartilhamento, processamento, análise, até eliminação).
    </p>
    <p>
      A Cooperserra , no que diz respeito ao tratamento de dados realizado no
      âmbito de suas atividades, atuará como Controladora de Dados Pessoais, em
      relação aos seus colaboradores, cooperados, clientes, prestadores de serviços e
      terceiros, competindo à organização as decisões referentes ao tratamento dos
      dados pessoais.
    </p>
  </div>

  <div class="col-9 mt-5">
    <h1 class="text-danger">
      5. Quais tipos de dados pessoais coletamos?
    </h1>
    <p>
      Através dos meios de contato disponíveis, a Cooperserra coleta e utiliza
      alguns dados pessoais. Ao fazê-lo, agimos na qualidade de controlador desses
      dados e estamos sujeitos às disposições da Lei Federal n. 13.709/2018 (Lei Geral
      de Proteção de Dados Pessoais – LGPD).
    </p>
    <p>
      E, à luz da LGPD, coletamos o mínimo necessário de dados pessoais para
      desempenho de nossas atividades, que são eles:
    </p>
      <h5 class="text-danger">Formulários de contato</h5>
    <p>
      A coleta dos dados pessoais (nome, e-mail e cidade), ocorre
      principalmente quando o titular entra em contato com a Cooperserra, por meio
      do Formulário para Contato para tirar dúvidas ou quaisquer outras informações
      a respeito dos produtos.
    </p>
  </div>

  <div class="col-9 mt-5">
    <h1 class="text-danger">
      6. Por quanto tempo armazenamos os dados pessoais?
    </h1>
    <p>
      Os dados pessoais armazenados pela Cooperserra permanecem retidos
      por um prazo que poderá variar de acordo com a finalidade do tratamento dos
      dados pessoais.
    </p>
    <p>
      Via de regra, em respeito ao seu direito à privacidade da informação,
      periodicamente, a cada 12 meses, revisamos a nossa base de dados, para saber
      se as informações registradas ainda são necessárias e atualizadas, para o
      alcance da finalidade inicialmente pretendida.
    </p>
    <p>
      Após esse prazo, caso verificado a ausência de fundamento legal para o
      tratamento dos dados, os eliminamos da nossa base, a não ser que,
      justificadamente, possam ser anonimizados, ou sejam necessários ao
      cumprimento de obrigação legal ou regulatória.
    </p>
  </div>

  <div class="col-9 mt-5">
    <h1 class="text-danger">
      7. Com quem compartilhamos os dados pessoais?
    </h1>
    <p>
      A Cooperserra, em regra, não compartilha informações coletadas a partir
      do site. Contudo, pode acontecer de, excepcionalmente, precisarmos
      compartilhar os dados pessoais dos cooperados, colaboradores ou clientes com
      autoridades ou órgãos reguladores ou para defesa de direitos em processo
      judicial ou administrativo. Nessas hipóteses o compartilhamento será realizado
      dentro dos limites e propósitos dos nossos negócios e de acordo com o que
      autoriza a legislação aplicável ou quando tivermos o seu consentimento
      expresso para tanto.
    </p>
    <p>
      De forma, visando garantir a máxima transparência, disponibilizamos a
      seguir a finalidade pela qual poderemos compartilharmos os seus dados
      pessoais:
    </p>
    <ul class="list-group">
      <li class="list-group-item">Exercício regular de direitos da Cooperserra.</li>
      <li class="list-group-item">Cumprimento de obrigação legal ou regulatória.</li>
      <li class="list-group-item">Cumprimento de ordem judicial, de autoridade competente ou de órgão fiscalizador.</li>
    </ul>
  </div>

  <div class="col-6 mt-5">
    <h1 class="text-danger">
      8. Direitos do Titular
    </h1>
    <p>
      Nós estamos comprometidos com o cumprimento dos direitos dos
      titulares de dados pessoais, os quais estão previstos no art. 18 da LGPD. Saiba,
      antes de mais nada, quais são eles:
    </p>

    <table class="table table-bordered">
      <thead>
        <tr class="text-danger">
          <th scope="col">Número</th>
          <th scope="col">Seus Direitos</th>
          <th scope="col">Explicação</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Confirmação e Acesso</td>
          <td>Você pode solicitar a Cooperserra a confirmação
            sobre a existência de tratamento dos seus Dados
            Pessoais para que, em caso positivo, você possa
            acessá-los, inclusive por meio de solicitação de
            cópias dos registros que temos sobre você.</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Correção</td>
          <td>Você pode solicitar a correção dos seus Dados
            Pessoais caso estejam incompletos, inexatos ou
            desatualizados.</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Anonimização, bloqueio ou eliminação</td>
          <td>Você pode solicitar (a) a anonimização dos seus
            Dados Pessoais, de forma que eles não possam mais
            ser relacionados a você e, portanto, deixem de ser
            Dados Pessoais; (b) o bloqueio dos seus Dados
            Pessoais, suspendendo temporariamente a sua
            possibilidade de os tratarmos para certas finalidades;
            e (c) a eliminação dos seus Dados Pessoais, caso em
            que serão apagados todos os seus Dados Pessoais
            sem possibilidade de reversão.</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Portabilidade</td>
          <td>Você pode solicitar que a Cooperserra forneça os seus Dados Pessoais
            em formato estruturado e interoperável visando à sua transferência para um terceiro,
            desde que essa transferência não viole a propriedade intelectual ou
            segredo de negócios da Empresa.</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Informação sobre ocompartilhamento</td>
          <td>Em regra, não compartilhamos dados pessoais
            coletados a partir do site.
            Apesar disso manteremos, no item
            “compartilhamento de dados&quot; dessa Política, uma
            indicação das situações excepcionais em que poderá
            haver o compartilhamento. Em todo caso, se você
            tiver dúvidas ou quiser mais detalhes, você tem o
            direito de nos solicitar essas informações. A
            depender do caso, podemos limitar as informações
            fornecidas a você caso a sua divulgação possa violar
            a propriedade intelectual ou segredo de negócios da
            Cooperserra.</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Revogação do consentimento</td>
          <td>Caso você tenha consentido com alguma finalidade
            de tratamento dos seus Dados Pessoais, você pode
            sempre optar por retirar o seu consentimento. No
            entanto, isso não afetará a legalidade de qualquer
            Tratamento realizado anteriormente à revogação. Se
            você retirar o seu consentimento, é possível que
            fiquemos impossibilitados de lhe prestar certos
            serviços, mas iremos avisá-lo quando isso ocorrer.</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>Informação sobre a possibilidade de não consentir</td>
          <td>Você tem o direito de receber informações claras e
            completas sobre a possibilidade e as consequências
            de não fornecer consentimento, quando ele for
            solicitado pela Cooperserra. O seu consentimento,
            quando necessário, deve ser livre e informado.
            Portanto, sempre que pedirmos seu consentimento,
            você será livre para negá-lo – nesses casos, é
            possível que alguns serviços não possam ser
            prestados.</td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td>Informação sobre a possibilidade de não consentir</td>
          <td>A lei autoriza o tratamento de Dados Pessoais mesmo sem o
            seu consentimento ou um contrato conosco. Nessas situações,
            somente trataremos seus Dados Pessoais se tivermos motivos
            legítimos para tanto, como, por exemplo, quando for necessário
            para garantir a segurança em nossos serviços. Caso você não
            concorde com alguma finalidade de tratamento dos seus Dados Pessoais,
            você poderá apresentar oposição, solicitando a sua interrupção.</td>
        </tr>
      </tbody>
    </table>

    <div class="col-9 mt-5">
      <p>
      Para exercer seus direitos basta, a qualquer momento e de forma gratuita,
      realizar o preenchimento deste formulário ou encaminhar um e-mail para
      dpo@cooperserra.com.
      </p>
    </div>

    <div class="col-9 mt-5">
      <h1 class="text-danger">
        9. Segurança da Informação
      </h1>
      <p>
        A Cooperserra procura seguir as melhores práticas e recomendações do
        mercado relacionadas à segurança da informação. Por essa razão buscamos
        adotar medidas técnicas e administrativas, para a proteção de seus dados
        pessoais.
      </p>

      <p>
        Para tanto, nos comprometemos, ao menos, com as seguintes diretrizes:
      </p>
    </div>

      <ul class="list-group">
        <li class="list-group-item"><i class="fa-solid fa-apple-whole text-danger"></i> Garantir que a Segurança da informação esteja alinhada ao nosso modelo
          de negócio, sendo tratada como área estratégica.</li>
        <li class="list-group-item"><i class="fa-solid fa-apple-whole text-danger"></i> Assegurar o cumprimento de nossas obrigações legais, para atender aos
          requisitos regulamentares e contratuais pertinentes às nossas atividades,
          relacionadas à segurança e privacidade de dados.</li>
        <li class="list-group-item"><i class="fa-solid fa-apple-whole text-danger"></i> Garantir a prevenção de incidentes de Segurança da Informação e a
          continuidade do negócio.</li>
        <li class="list-group-item"><i class="fa-solid fa-apple-whole text-danger"></i> Garantir segurança e privacidade no tratamento dos dados pessoais de
          todas as partes interessadas.</li>
        <li class="list-group-item"><i class="fa-solid fa-apple-whole text-danger"></i> Tomar medidas disciplinares apropriadas para fazer cumprir as
          responsabilidades de privacidade de nossos colaboradores.</li>
        <li class="list-group-item"><i class="fa-solid fa-apple-whole text-danger"></i> Assegurar que somente pessoas autorizadas tenham acesso às nossas instalações,
            às informações e aos sistemas de informação.</li>
        <li class="list-group-item"><i class="fa-solid fa-apple-whole text-danger"></i> Conscientizar colaboradores e parceiros de eventuais consequências pela violação
          de privacidade ou de políticas de segurança.</li>
        <li class="list-group-item"><i class="fa-solid fa-apple-whole text-danger"></i> Assegurar o treinamento contínuo e atualizado nas políticas e nos procedimentos de
          segurança da informação e privacidade, enfatizando as obrigações dos colaboradores pela segurança da informação e privacidade.</li>
      </ul>
    </div>

    <div class="col-9 mt-5">
      <p>
        Nós nos esforçamos para proteger a privacidade de seus dados pessoais, mas infelizmente não podemos garantir total segurança.
        Entradas e usos não autorizados de terceiros com informações suas,
        falhas de hardware ou software que não estejam sob controle da Cooperserra
        e outros fatores externos podem comprometer a segurança dos seus dados pessoais.
      </p>
      <p>
        Por isso, sua atuação é fundamental para a manutenção de um ambiente seguro para todos. Caso você identifique ou
        tome conhecimento de qualquer fator que comprometa a segurança dos seus dados na sua relação com a Cooperserra,
        por favor entre em contato conosco por meio das informações de contato indicadas.
      </p>
    </div>

    <div class="col-9 mt-5">
      <h1 class="text-danger">
        10. Quem é o Encarregado pelo Tratamento de Dados Pessoais (DPO)?
      </h1>
      <p>
        A Cooperserra, em observância ao art. 41 da LGPD,  nomeou como Encarregado pelo Tratamento de Dados:
      </p>
      <ul class="list-group">
        <li class="list-group-item"><i class="fas fa-user me-3 text-danger"></i>DPO: GEP Soluções em Compliance</li>
        <li class="list-group-item"><i class="fas fa-envelope me-3 text-danger"></i>E-mail: dpo@cooperserra.com.br</li>
      </ul>
    </div>

    <div class="col-9 mt-5">
      <h1 class="text-danger">
        11. Atualizações na Política de Privacidade
      </h1>
      <p>
        Como estamos sempre buscando melhorar os nossos serviços e a forma
        como operamos, esta Política de Privacidade pode passar por atualizações para
        refletir as melhorias realizadas. Desta forma, recomendamos a visita periódica
        desta página para que você tenha conhecimento sobre as modificações
        efetivadas.
      </p>
    </div>

    <div class="col-9 mt-5">
      <h1 class="text-danger">
        12. Legislação Aplicável e Foro
      </h1>
      <p>
        Esta Política de Privacidade será interpretada de acordo com as leis,
        normas e regulamentos do Brasil, no idioma português, especialmente de acordo
        com a Lei nº 13.709/2018 (Lei Geral de Proteção de Dados).
      </p>
    </div>

    <div class="col-9 mt-5 mb-5">
      <h1 class="text-danger">
        13. Controle de Versões
      </h1>
      <p>
        Esta Política de Privacidade será interpretada de acordo com as leis,
        normas e regulamentos do Brasil, no idioma português, especialmente de acordo
        com a Lei nº 13.709/2018 (Lei Geral de Proteção de Dados).
      </p>
      <table class="table table-bordered">
        <thead>
          <tr class="text-danger">
            <th scope="col">Versão</th>
            <th scope="col">Data de Publicação</th>
            <th scope="col">Responsável</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1.0</th>
            <td>09/12/2022</td>
            <td>GEP Soluções em Compliance</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
