.text-danger{
  color: #ca000c !important;
}

.btn-danger{
  background-color: #ca000c !important;
}

.btn-outline-danger{
  font-size: 22px;
  border-color: #ca000c;
  color: #ca000c;
}

.btn-outline-danger:hover{
  background-color: #ffffff !important;
  border-color: #ab000b;
  color: #ab000b;
}

@media (max-width:999px){
  .historia_maca > p{
    margin-left: 25px;
    margin-right: 25px;
  }

  .tipos > img{
    width: 350px;
  }
}

a{
  text-decoration: none;
}

.banner_home{
  height: 90vh;
  background-image: url(../../assets/img/banners/banner-home.png);
  background-size: cover;
}

.historia_maca{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-image: url(../../assets/img/banner_galhos.png); */
  background-size: 100%;
  background-repeat: no-repeat;
}

.historia_maca h1{
  display: flex;
  margin: 45px;
  color: rgb(206, 0, 0);
  font-size:xx-large;
  text-align: center;
}

.historia_maca p{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  max-width: 780px;
  font-size: 22px;
  font-family: tahoma;
}

.link_receitas{
  color: rgb(206, 0, 0);
}

.link_receitas:hover{
  color: rgb(174, 0, 0);
}
